<!DOCTYPE html>
<head>
	<title>Employee Records</title>
</head>
<body>
	<center>
		<h1>Enter Details</h1>
		<form action='/emp' method="POST">
			{% csrf_token %}
			<div>
				<lable>EMPLOYEE ID:</lable>
				<div>{{ form.eid }}</div>
			</div>
			<div>
				<lable>Employee Name:</lable>
				<div>{{ form.name }}</div>
			</div>
			<div>
				<lable>Employee Email:</lable>
				<div>{{ form.email }}</div>
			</div>
			<div>
				<lable>Employee Address:</lable>
				<div>{{ form.address }}</div>
			</div>
			<div>
				<lable>Employee Contact:</lable>
				<div>{{ form.contact }}</div>
			</div>
			<input type="submit" value="ADD RECORD">
		</form>
	</center>
</body>
</html>

